@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<!-- Begin vung dieu kien tim kiem -->
<form action="ADM002" method="get" name="mainform">
    <table class="tbl_input" border="0" width="90%" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                会員名称で会員を検索します。検索条件無しの場合は全て表示されます。
            </td>
        </tr>
        <tr>
            <td width="100%">
                <table class="tbl_input" cellpadding="4" cellspacing="0">
                    <tr>
                        <td class="lbl_left">氏名:</td>
                        <td align="left">
                            <input class="txBox" type="text" name="full_name"
                                   value="" size="20" onfocus="this.style.borderColor='#0066ff';"
                                   onblur="this.style.borderColor='#aaaaaa';" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="lbl_left">グループ:</td>
                        <td align="left" width="80px">
                            <select name="group_id">
                                <option value="0">全て</option>
                                @foreach (var mstGroup in ViewBag.listMstGroup)
                                {
                                    <option value="@mstGroup.group_id">@mstGroup.group_name</option>
                                }
                            </select>
                        </td>
                        <td align="left">
                            <input class="btn" type="submit" value="検索" />
                            <input class="btn" type="button" onclick="location.href='./addUser?type=first';" value="新規追加" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- End vung dieu kien tim kiem -->
    <!-- Begin vung hien thi danh sach user -->
    <table class="tbl_list" border="1" cellpadding="4" cellspacing="0" width="80%">

        <tr class="tr2">
            <th align="center" width="20px">
                ID
            </th>
            <th align="left">
                氏名
                @{ 
                    var sortByFullName = "asc";
                    if(sortByFullName == "asc")
                    {
                        <a href="ADM002?sortType=full_name&sortByFullName=desc">▲▽</a>
                    }else
                    {
                        <a href="ADM002?sortType=full_name&sortByFullName=asc">△▼</a>
                    }
                }
            </th>
            <th align="left">
                生年月日
            </th>
            <th align="left">
                グループ
            </th>
            <th align="left">
                メールアドレス
            </th>
            <th align="left" width="70px">
                電話番号
            </th>
            <th align="left">
                日本語能力
            </th>
            <th align="left">
                失効日
            </th>
            <th align="left">
                点数
            </th>
        </tr>
        @foreach(var user in ViewBag.listUser)
        {
        <tr>
            <td>
                <a href="#">@user.Id</a>
            </td>
            <td>
                @user.Name
            </td>
            <td>
                @user.Birthday
            </td>
            <td>
                @user.Email
            </td>
            <td>
                @user.Group_name
            </td>
            <td>
                @user.Tel
            </td>
            <td>
                @user.Name_level
            </td>
            <td>
                @user.End_date
            </td>
            <td>
                @if (user.Total != null)
                {
                    @user.Total
                }
            </td>

        </tr>
        }
    </table>
    <!-- End vung hien thi danh sach user -->
